/*---------COLORS----------

yellow: rgb(223,184,62)
blue: rgb(93,139,200)
green: rgb(152,201,171)

*/

body {
  max-width: 1000px;
  font-family: "Alegreya Sans", serif;
  margin: 0px auto;
}

img{
  max-width: 100%;
}


/*-----------EVERYTHING ELSE----------*/

main, header, footer {
  font-family: "Poppins", Helvetica, sans-serif;
}

main {
  padding: 30px;
}

p, ul {
  font-family: "Alegreya", serif;
}

h1 {
  font-family: "Poppins", Helvetica, sans-serif;
  line-height: 1em;
}

h2 {
  color: rgb(152,201,171);
  font-size: 1.2em;
  line-height: 1.2em;
}




/*------------Top Nav-----------*/

/*

header {
  background-color: rgb(152,201,171);
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

header nav ul li {
  width: 50%;
  padding: 5px 0px;
}

header img {
  float: left;
  width: 20%;
  padding: 10px;
}

header h1 {
  font-size: .95em;
  float: left;
  padding-top: 20px;
}
*/



/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(152,201,171);
  position: relative;
  font-family: "Poppins";
}

.topnav img {
  width: 70%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  width: 45px;
}

.topnav a.icon:hover {
}


/* Add background color on mouse-over */

.topnav ul {
  list-style: none;
  padding: 0px;
  font-family: "Poppins";
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.topnav ul li a:hover {
background-color: rgb(93,139,200);
color: white;
text-decoration: underline;
}



/* Style the active link (or home/logo) */
.active {
  background-color: rgb(152,201,171);
}



/*--------------HOME PAGE---------------*/


/*----Slider----*/
.home-slider img{
  width: 25%;
}




.grow img {
  width: 100%;
  padding-top: 25px;
}

.engage img {
  width: 100%;
  padding-top: 25px;
}

a {
  color: rgb(93,139,200);
}

a:hover {
  color: rgb(223,184,62);
}

.testimonials ul {
  list-style: none;
  border-left: 2px dotted rgb(93,139,200);
  padding-left: 15px;
}

.testimonials ul li {
  padding-top: 15px;
}

.testimonials ul li span {
  font-style: italic;
}














/*--------------FOOTER STYLES---------------*/

footer {
  background-color: rgb(152,201,171);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}

footer img {
  width: 15%;
  padding-top: 20px;
}

footer ul {
  list-style: none;
  font-family: "Poppins";
  padding-left: 0px;
}

footer ul li {
  line-height: 1.3em;
  padding-top: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
  color: rgb(93,139,200);
}
